html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.extend {
  min-height: 600px;
  height: auto !important;
  height: 600px;
}
#brand-logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
  color: #71bba4;
}

.nav-link {
  display: block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  padding: 0rem 0.5rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
  text-decoration-color: #71bba4;
  text-decoration-thickness: from-font;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media (max-width: 767.98px) {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-info {
  color: white;
  font-weight: bold;
  background-color: #71bba4;
  border-color: #71bba4;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  box-shadow: 1 1 1 1rem #71bba4;
  background-color: #138496;
  border-color: #0f6875;
}

.btn-info.disabled,
.btn-info:disabled {
  color: white;
  font-weight: bold;
  background-color: #5fffe7;
  border-color: #5fffe7;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-white {
  color: #71bba4;
  font-weight: bold;
  background-color: white;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  box-shadow: 1 1 1 1rem #000000;
  color: white;
  background-color: #138496;
}

.btn-white.disabled,
.btn-white:disabled {
  color: #71bba4;
  font-weight: bold;
  background-color: #cacaca;
  border-color: #5fffe7;
}

.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #10707f;
}

.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-white {
  color: #71bba4;
  font-weight: bold;
  background-color: white;
  background-image: none;
  border-color: #17a2b8;
}

.btn-outline-white:hover {
  box-shadow: 1 1 1 1rem #000000;
  color: white;
  background-color: #138496;
}

.btn-outline-white:focus,
.btn-outline-white.focus {
  box-shadow: 1 1 1 1rem #000000;
  color: white;
  background-color: #138496;
}

.btn-dark-green {
  color: white;
  font-weight: bold;
  background-color: #138496;
}

.btn-dark-green:hover,
.btn-dark-green:focus,
.btn-dark-green.focus {
  box-shadow: 1 1 1 1rem #000000;
  color: white;
  background-color: black;
}

.btn-dark-green.disabled,
.btn-dark-green:disabled {
  color: #138496;
  font-weight: bold;
  background-color: #cacaca;
  border-color: #5fffe7;
}

.btn-dark-green:not(:disabled):not(.disabled):active,
.btn-dark-green:not(:disabled):not(.disabled).active,
.show > .btn-dark-green.dropdown-toggle {
  color: #000000;
  background-color: #71bba4;
  border-color: #ffffff;
}

.btn-dark-green:not(:disabled):not(.disabled):active:focus,
.btn-dark-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-dark-green {
  color: white;
  font-weight: bold;
  background-color: #138496;
  background-image: none;
  border-color: #17a2b8;
}

.btn-outline-dark-green:hover {
  box-shadow: 1 1 1 1rem #000000;
  color: white;
  background-color: black;
}

.btn-outline-dark-green:focus,
.btn-outline-dark-green.focus {
  box-shadow: 1 1 1 1rem #000000;
  color: white;
  background-color: black;
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #10707f;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.text-content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-justify: auto;
}
.text-link,
.text-link:hover {
  color: black;
  text-decoration: none;
}

.green-text,
.green {
  color: #71bba4;
}
.white-text {
  color: #ffffff;
}
.shadow-text {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.bg-info {
  background-color: #71bba4 !important;
}
.bg-black {
  background-color: #000 !important;
}

.border-info {
  border-color: #71bba4 !important;
}

.border-white {
  border: 5px solid white;
  border-radius: 3.5px;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #71bba4 !important;
}

.footer-dark {
  background-color: #223843;
  flex-shrink: none;
}
.stretch {
  min-height: 100%;
}
.navbar-dark {
  background-color: #223843;
}

.nav-margin {
  margin-top: 80px;
}
.card-content,
.last-card-content {
  color: black;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-content:hover,
.card-content:focus {
  color: #71bba4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a .text-link {
  color: black;
  word-wrap: break-word;
}
a .text-link:hover,
a .text-link:focus {
  color: #71bba4;
  text-decoration: underline #71bba4;
}
.text-break-all {
  word-break: break-all;
}
.type-field {
  color: black;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  border: solid 2px #71bba4;
  height: 50px;
  border-radius: 7px;
}
.type-field:focus {
  border: solid 2px #223842;
  box-shadow: 0 0 0 0.2rem #223843;
}
.type-field-wrong {
  color: black;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  border: solid 2px red;
  height: 50px;
  border-radius: 7px;
}
.type-field-wrong:focus {
  border: solid 2px #223842;
  box-shadow: 0 0 0 0.2rem #223843;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.75rem;
}

.jumbotron-clear {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  border: solid #71bba4 2px;
}

.jumbotron-green {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #71bba4;
  border-radius: 0.75rem;
  border: solid #71bba4 2px;
}

@media (min-width: 576px) {
  .jumbotron,
  .jumbotron-clear,
  .jumbotron-green {
    padding: 1.5rem 1.5rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

.card-box {
  border-radius: 0.75rem;
}

.rounded-image {
  border-radius: 0.75rem;
}
.b-info {
  border: solid #71bba4 2px;
}
.b-black {
  border: solid #000 2px;
}
.tag {
  border: solid #000 1px;
  border-radius: 5px;
}

.checkbox-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 144px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #71bba4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.checkbox:focus {
  border: 2px solid black;
}

.checkbox:checked {
  background-color: #71bba4;
}
.checkbox:checked:after {
  content: "\2713";
  font-size: 16px;
  position: relative;
  bottom: 4px;
  left: 2px;
  color: #ffffff;
  margin: 10;
}
.checkbox-label {
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 4px;
}
.checkbox-green-bg {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-appearance: none;
  background-color: white;
  border: 3px solid #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.checkbox-green-bg:focus {
  background-color: #71bba4;
  border: 2px solid #ffffff;
  margin: 10;
}

.checkbox-green-bg:checked {
  background-color: #000000;
}
.checkbox-green-bg:checked:after {
  content: "\2713";
  font-size: 16px;
  position: relative;
  bottom: 4px;
  left: 2px;
  color: #ffffff;
  margin: 10;
}

.radial-button {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #71bba4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.radial-button:focus {
  border: 2px solid black;
}

.radial-button:checked {
  background-color: #71bba4;
}
.radial-button:checked:after {
  content: "\2713";
  font-size: 16px;
  position: relative;
  bottom: 4px;
  left: 2px;
  color: #ffffff;
  margin: 10;
}
.radial-button-label {
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 4px;
}
.radial-button-green-bg {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-appearance: none;
  background-color: white;
  border: 3px solid #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.radial-button-green-bg:focus {
  background-color: #71bba4;
  border: 2px solid #ffffff;
  margin: 10;
}

.radial-button-green-bg:checked {
  background-color: #000000;
}
.radial-button-green-bg:checked:after {
  content: "\2713";
  font-size: 16px;
  position: relative;
  bottom: 4px;
  left: 2px;
  color: #ffffff;
  margin: 10;
}

.panel-title-card {
  position: relative;
}

.panel-title-card::after {
  content: "\23F7";
  color: #71bba4;
  top: 20px;
  right: 10px;
  position: absolute;
}

.panel-title-card[aria-expanded="true"]::after {
  top: 20px;
  right: 10px;
  color: #71bba4;
  position: absolute;
  content: "\23F6";
}

.panel-title-button {
  position: relative;
}

.panel-title-button::after {
  content: "\23F7";
  color: #000000;
  top: 13px;
  right: 0px;
  position: absolute;
}

.panel-title-button[aria-expanded="true"]::after {
  top: 13px;
  right: 0px;
  color: #000000;
  position: absolute;
  content: "\23F6";
}

.accordion-card {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 8px;
}
.accordion-card-green {
  background-color: #71bba4;
  border-radius: 5px;
  margin-top: 8px;
}

.card-heading {
  padding-top: 6.5px;
  padding-right: 12px;
  padding-left: 12px;
  cursor: pointer;
  min-height: 63px;
}
.card-divider {
  margin-right: 8px;
  margin-left: 8px;
  padding-bottom: 1px;
  border-bottom: 2px solid #71bba4;
  margin-bottom: 4px;
}
.card-divider-white {
  margin-right: 8px;
  margin-left: 8px;
  padding-bottom: 1px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 4px;
}
.vertical-divider {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 1px;
  border-left: 2px solid #71bba4;
  margin-left: 4px;
}
.vertical-divider-white {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 1px;
  border-left: 2px solid #ffffff;
  margin-left: 4px;
}
.card-divider-long {
  padding-bottom: 1px;
  border-bottom: 2px solid #71bba4;
  margin-bottom: 4px;
}
.card-divider-long-white {
  padding-bottom: 1px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 4px;
}

.accordion-heading button {
  -webkit-appearance: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  text-align: start;
}
.accordion-heading button:hover,
.accordion-heading button:focus {
  border-radius: 5px;
  box-shadow: white;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1;
}

.five-line-truncate {
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.clickable {
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-footer-gray {
  background-color: #223842;
}

.color-inverted {
  filter: invert(100%);
}

input[type="radio"]:focus,
.no-outline,
.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.red-text {
  color: rgb(230, 52, 52);
}

.input-file-label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

.input-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.rounded-img {
  border-radius: 1%;
}
