#brand-logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #00ceaf;
}

.nav-link {
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  padding: 0rem 0.5rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: underline;
  text-decoration-color: #00ceaf;
  text-decoration-thickness: from-font;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-info {
    color: white;
    font-weight: bold;
    background-color: #00ceaf;
    border-color: #00ceaf;
}

.btn-info:hover,.btn-info:focus, .btn-info.focus {
  box-shadow: 1 1 1 1rem #00ceaf;
  background-color: #138496;
  border-color: #0f6875;

}


.btn-info.disabled, .btn-info:disabled {
  color: white;
  font-weight: bold;
  background-color: #5fffe7;
  border-color: #5fffe7;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-white {
  color: #00ceaf;
  font-weight: bold;
  background-color: white;
}

.btn-white:hover,.btn-white:focus, .btn-white.focus {
box-shadow: 1 1 1 1rem #000000;
color: white;
background-color: #138496;


}

.btn-white.disabled, .btn-white:disabled {
color: #00ceaf;
font-weight: bold;
background-color: #cacaca;
border-color: #5fffe7;
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle {
color: #fff;
background-color: #000000;
border-color: #10707f;
}

.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.text-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-justify: auto;
}

.green-text,.green {
    color: #00ceaf;
}
.white-text {
  color: #ffffff;
}

.bg-info {
  background-color: #00ceaf !important;
}

.border-info {
  border-color: #00ceaf !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #00ceaf !important;
}

.footer-dark{
    background-color: #000000;
}

.navbar-dark {
    background-color: #000000;
}

.nav-margin {
    margin-top: 80px;
}
.card-content, .last-card-content {
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.card-content:hover,.card-content:focus {
    color: #00ceaf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.type-field {
  color: black;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.75rem;
}

.jumbotron-clear{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  border: solid #00ceaf 2px;
}

.jumbotron-green{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #00ceaf;
  border-radius: 0.75rem;
  border: solid white 2px;
}

@media (min-width: 576px) {
  .jumbotron,.jumbotron-clear,.jumbotron-green {
    padding: 1.5rem 1.5rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

.card-box {
  border-radius: 0.75rem;
}

.rounded-image {
  border-radius: 0.75rem;
}
.b-info{
  border: solid #00ceaf 2px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-appearance: none;
	background-color: white;
	border: 2px solid #00ceaf;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 2px;
  position: relative;
  cursor: pointer
}

.checkbox:focus{
	border: 2px solid black;
}

.checkbox:checked {
	background-color: #00ceaf;

}
.checkbox:checked:after {
  content: '\2713';
	font-size: 16px;
  position: relative;
  bottom: 4px;
  left: 2px;
  color: #ffffff;
  margin: 10
}
.checkbox-label{
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 4px;
}

.accordion-card{
  background-color: #fff;
  border-radius: 5px;
  margin-top: 8px;

}

.card-heading{
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
  position: relative;
  top: 6px;
  padding-bottom: 10px;
}
.card-divider {
  margin-right: 8px;
  margin-left: 8px;
  padding-bottom: 1px;
  border-bottom: 2px solid #00ceaf;
  margin-bottom: 4px;
}
.card-divider-long {

  padding-bottom: 1px;
  border-bottom: 2px solid #00ceaf;
  margin-bottom: 4px;
}

.accordion-heading button {
  -webkit-appearance: none;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  width: 100%;
  text-align: start;
}
.accordion-heading button:hover, .accordion-heading button:focus {
  border-radius: 5px;
  box-shadow: white;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1;
}